<h1><b>Locked Users</b></h1>
<div class="dashboard">
    <div class="table-container">
      <table class="modern-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>workSpace</th>
            <th>phone Number</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of blockedUsers">
            <td>{{ user.name }}</td>
            <!-- <td><button (click)="onChooseDir(dir)" class="btn btn-primary" style="width: 100%; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">view</button></td> -->
  
            <td>
              <a>{{ user.workSpaceName }}</a>
            </td>
            <td>
              {{ user.phoneNumber }}
            </td>
            <tD><i class="pi pi-lock-open" (click)="onClickUnLock(user.id)"></i></tD>
          </tr>
        </tbody>
      </table>
    </div>
    <app-paginator
  [totalCount]="totalCount" 
    [pageSize]="pageSize" 
    [currentPage]="currentPage" 
    (pageChange)="onPageChange($event)">
</app-paginator>

  </div>
  